# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log

# Environments
old/
DATA/
.idea
.env
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/
/.vs
.vscode



www/*

logs/*
doc/dashboard_test.ogv
svelte-dash/ecosystem.config.js
svelte-dash/src/lib/assets
embedded/esp32-websocket-cam/src/credentials.h
