# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log
*.db

# Environments
old/
DATA/
.idea
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/.vs

dash/data
data/ETRometer_2_.json
data/1/ETRometer_2.json
data/1/WeatherStation_n1.json
www/WeatherStation_n1.json
www/ETRometer_2.json
